.sign-in-container {
    max-width: 400px;

    .auth-form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .input-field {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}