.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .nav-auth-toggle {
        display: flex;
        gap: 40px;

        .toggle-title {
            cursor: pointer;
            opacity: 0.4;
        }

        .active {
            cursor: pointer;
            opacity: 1.0;
        }

    }
}